<h2>Event Name: <%= @event.name %></h2>
<h3> Users signed up: <h3>

<% if @users.empty? %>
  <p> There are currently no signups - please check back closer to the Event Date </p>
<% else %>
  <p><% @users.each do |user| %>
    <li><%= user.name %></li><br>
  <% end %></p>
<% end %>