<h2>Our Calendar</h2>
<h3>Below is a list of our current events we have listed - please keep an eye out, as this updated regularly. </h3>

<div class="content">
<ul>
  <% @events.sort_by { |e| e.date }.each do |event| %>
    <li><%= event.name %> - <%= event.show_date %><br><%= link_to "Find Out More", event_path(event) %></li><br>
  <% end %>
</ul>
</div>